/* Reset Stuff */
html,
body {
    background-color: aliceblue;
}

/* Homepage Styles */
.container {
    background-color: aliceblue;
}

.page-title {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin: 1em;
}

.page-title-subtitle {
    font-size: 16px;
    font-weight: 300;
}

.page-title-subtitle .smallText {
    font-size: 12px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 1% auto 0 auto;
}

.cards-container-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 1% auto 0 auto;
}

.buttons {
    text-align: center;
    margin: 20px;
}

.buttonSingle {
    margin: 10px;
    font-size: 18px;
    padding: 12px 8px;
    border-radius: 2%;
    border: none;
    box-shadow: rgb(0, 52, 85, .2) 0px 3px;
}

.buttonSingle:hover {
    cursor: pointer;
}

.buttonSingle:active {
    box-shadow: rgb(0, 52, 85, .2) 0px 0px;
}

.buttonSummon {
    background-color: rgb(114, 172, 234);
}

.buttonSummon:active {
    background-color: rgb(35, 101, 172);
    color: white;
}

.buttonTagout {
    background-color: rgb(234, 114, 114)
}

.buttonTagout:active {
    background-color: rgb(159, 39, 39);
    color: white;
}

/* Card Styles */
.card-single {
    border-radius: 25px;
    box-shadow: rgb(0, 52, 85, .2) -5px 5px;
    margin: 10px;
    background-color: rgb(242, 209, 138, .4);
    height: 100%;
    width: 31%;
}

.card-single-mobile {
    border-radius: 25px;
    box-shadow: rgb(0, 52, 85, .2) -5px 5px;
    margin: 10px;
    background-color: rgb(242, 209, 138, .4);
    height: 100%;
    width: 100%;
}

.card-title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    color: rgb(19, 19, 19);
}

.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.card-quote-container {
    text-align: left;
    padding: 1em;
}

.card-quote-content {
    font-size: 14px;
    color: rgba(5, 4, 50, 0.975);
}

.card-quote-author {
    font-size: 10px;
    color: rgba(33, 32, 60, 0.975);
}

/* Footer Styles */
.footer {
    margin: auto;
    padding: 1em;
    background-color: #1D4296;
}

.footer p {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
}